* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #6d757d;
}

.container {
    max-width: 1920px;
    width: 100%;
}

.barra-lateral {
    max-width: 480px;
    width: 480px;
    height: 1080px;
    background-image: url(./images/background.png);
    background-size: 480px;
    display: block;
    text-align: center;
    position: fixed;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.logo img {
    max-width: 400px;
}

.menu a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 24px;
}

.contato {
    margin-top: 320px;
    display: flex;
    width: 480px;
    align-items: center;
    margin-left: 8px;
    justify-content: center;
}

.contato a {
    margin-left: 16px;
    margin-right: 36px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.social a {
    margin-left: 0px;
    margin-right: 0;
}

.social img {
    width: 80px;
}

.rodape p {
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}

.conteudo {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-left: 480px;
}

.conteudo a {
    max-width: 560px;
    max-height: 420px;
    margin-bottom: 48px;
    margin-left: 48px;
}

.conteudo img {
    max-width: 560px;
    max-height: 420px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 5%;
    margin-left: 48px;
}

.conteudo a:hover {
    border: 2px solid transparent;
}

.release {
    display: block;
}

.release h1 {
    margin-top: 32px;
    text-align: center;
}

.release p {
    margin: 18px;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .barra-lateral {
        top: 0;
        width: 375px;
        height: 204px;
        background-image: url(./images/background.png);
        background-size: 480px;
    }

    .logo {
        display: flex;
        width: 100%;
    }

    .logo img {
        max-width: 160px;
        text-align: center;
    }

    .menu {
        max-width: 120px;
        margin-left: 24px;
    }

    .menu a {
        font-size: 12px;
        padding: 8px;
    }

    .contato {
        display: block;
        margin-top: -160px;
        margin-left: 40px;
    }

    .contato a {
        font-size: 12px;
    }

    .social {
        margin-top: 16px;
        margin-left: -16px;
    }

    .social img {
        width: 56px;
    }

    .rodape {
        margin-left: 180px;
        margin-top: 36px;
    }

    .rodape p {
        font-size: 8px;
    }

    .conteudo {
        width: 375px;
        margin-top: 204px;
        max-width: 100%;
        display: block;
        margin-left: 0;
    }
    
    .conteudo a {
        display: block;
        max-width: 90%;
        max-height: 90%;
        margin-bottom: 8px;
        text-align: center;
        margin-left: -8px;
    }

    .conteudo img {
        max-width: 90%;
        max-height: 90%;
        margin-top: 24px;
        margin-bottom: 8px;
        border-radius: 5%;
    }
}