body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #6d757d;
    overflow-x: hidden;
}

#cabecalho {
    background-image: url(img/background.png);
    background-size: 100%;
}

#cabecalho .nav-link,
#cabecalho .nav-link:hover {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

#barra-lateral .nav-link,
#barra-lateral .nav-link:hover {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

.navbar-toggler {
    background-color: #fff;
}

.nav-item i {
    color: #fff;
}

#barra-lateral {
    position: fixed;
    max-width: 100%;
    height: 100%;
    background-image: url(img/background.png);
    background-size: 100%;
}

#barra-lateral img {
    max-width: 75%;
}

.menu-navegacao {
    width: 100%;
}

#principal {
    max-width: 100%;
    margin-left: 400px;
    font-size: 20px;
}

#principal h1 {
    font-size: 24px;
}

.img-thumbnail:hover {
    border: 2px solid #6d757d;
}

.btn {
    background-color: #fff;
    color: #000;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

#rodape {
    margin-left: 400px;
    color: #fff;
}

#rodape-fixo {
    margin-left: 400px;
    color: #fff;
    position: absolute;
    bottom: 0;
}

@media (max-width: 767px) {
    #cabecalho img {
        max-width: 160px;
    }

    .dropdown {
        display: block;
    }

    #barra-lateral {
        display: none;
    }

    #principal {
        margin-left: .5em;
        width: 95%;
    }

    #rodape {
        margin-left: .5em;
    }

    #rodape-fixo {
        margin-left: .5em;
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #cabecalho {
        width: 102%;
    }
    
    #cabecalho img {
        max-width: 240px;
    }

    .dropdown {
        display: block;
    }

    #principal {
        margin-left: 2.5em;
        width: 100%;
    }

    #rodape {
        margin-left: 2.5em;
    }

    #rodape-fixo {
        margin-left: 2.5em;
        position: relative;
    }
}